#contact-me {
    text-align: center;

    margin: 0 2.5% 0 2.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;

    background-color: #333;

    border-radius: 10px;
}

#contact-me form {
    display: grid;

    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". email send .";
    grid-gap: 1rem;

    margin: 0 2.5% 1% 2.5%;
    padding: 2.5% 2.5% 2.5% 2.5%;
}

@media (max-width: 768px) {
    #contact-me form {
        grid-template-areas:
            ". email email ."
            ". send send .";
    }
}


#contact-me form * {
    padding: 2.5% 2.5% 2.5% 2.5%;
    border: none;
    border-radius: 6px;
}

#contact-me span {
    font-size: 2rem;
    margin-bottom: 10%;
}

#contact-me form button {
    background-color: chocolate;
    transition: all 1s;
}

#contact-me form button:hover {
    background-color: goldenrod;
}
