:root {
  --font-colour: white;
  --font-colour-darker: gray;
  --background-color: #1e1e1e;
}

html {
  background-color: var(--background-color);
  color: var(--font-colour)
}

html[data-theme="dark"] {
  --background-color: #1e1e1e;
  --font-colour-darker: gray;
  --font-colour: white;
}

html[data-theme="light"] {
  --background-color: whitesmoke;
  --font-colour: #1e1e1e;
}
