.progress-bar-background {
    background-color: #111;
    border-radius: 60px;

    width: 100%;
    height: 25px;

    margin: 2.5% 2.5% 2.5% 2.5%;
}

.progress-bar-foreground {
    background-color: dodgerblue;
    border-radius: 60px;

    height: 25px;
}
