.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  background: var(--rainbow);
  padding-block: 25%;
}

.project {
  display: flex;
  flex-flow: column wrap;

  margin: 5%;

  min-width: 10%;
  min-height: 10%;
  max-width: 10%;
  max-height: 10%;

  text-align: center;
  text-decoration: none;

  border-radius: .5rem;
  padding: 10%;

  background-color: var(--background-color);
  color: var(--font-colour);
}

@media only screen and (max-width: 70em) {
  .project {
    font-size: var(--fs-sm);
  }
}

@media only screen and (max-width: 47em) {
  .project {
    font-size: var(--fs-xs)
  }
}
