@import "my-project-specifications.css";


.projects {
  display: flex;
  flex-flow: row wrap;

  align-content: center;
  justify-content: center;

  background: var(--rainbow);
  padding-bottom: 25%;
}

.flex-fill {
  flex: 100%;
}

.project[data-disabled="true"] {
  color: var(--font-colour-darker);
}

.project {
  display: flex;

  justify-content: center;
  align-items: center;

  margin: 5%;

  min-width: 10%;
  min-height: 10%;
  max-width: 10%;
  max-height: 10%;

  box-shadow: .25rem .25rem var(--reduced-background-color);

  border-radius: .5rem;
  padding: 10%;

  background-color: var(--background-color);
  color: var(--font-colour);
}

@media only screen and (max-width: 70em) {
  .project {
    font-size: var(--fs-sm);
  }
}

@media only screen and (max-width: 47em) {
  .project {
    font-size: var(--fs-xs)
  }
}
