.hero-banner {
  text-align: center;
  padding-block: 25%;
  padding-top: calc(25% / 2);
}
.hero-banner-quote {
  color: var(--font-colour);
  opacity: 0;

  animation: reveal 4s 1;
}

@keyframes reveal {
  100% {
    opacity: 100%;
  }
}


.hero-banner {
  opacity: 100%;
}

@media only screen and (max-width: 90em) {
  .hero-banner-quote {
    font-size: var(--fs-sm);
  }
}

@media only screen and (max-width: 70em) {
  .hero-banner-title {
    font-size: var(--fs-sm)
  }
  .hero-banner-quote {
    font-size: var(--fs-xs);
  }
}
