@import "buttons.css";


#navigation {
    display: grid;

    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;

    grid-template-areas: "icon . . . projects about-me skills gallery animation contact-me";
    margin: .5% 2.5% 0 2.5%;
}

.nav-item {
    text-align: center;
    color: white;
    font-size: var(--fs-nav);
    margin: auto;
}

@media (max-width: 768px) {
    #navigation {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);

        grid-template-areas:
            ". icon ."
            "projects about-me skills"
            "gallery animation contact-me"
            ;

    }
}
