#projects {
    display: grid;

    text-align: center;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas: "hannankakut flex-example responsive-example";

    margin: 0 2.5% 20% 2.5%;
}


.project {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
            "title"
            "image";
}

#projects div p {
    font-weight: bold;
    font-size: 2rem;

    grid-area: title;
}

#projects div img {
    max-width: 100%;
    max-height: 100%;
    grid-area: image;
}


@media (max-width: 768px) {
    #projects {
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
                ". hannankakut ."
                ". flex-example ."
                ". responsive-example ."
        ;
    }
}
