.talent {
  display: flex;
  flex-flow: column;

  align-content: center;
  justify-content: center;

  background-color: var(--colour5);
}

.talent p {
  font-size: var(--fs-xl);
  color: var(--winter-sky);
}

@media only screen and (max-width: var(--resp-desktop)) {
  .talent p {
    font-size: var(--fs-lg);
  }
}

@media only screen and (max-width: var(--resp-tablet)) {
  .talent p {
    font-size: var(--fs-md);
  }
}

@media only screen and (max-width: var(--resp-mobile)) {
  .talent p {
    font-size: var(--fs-sm)
  }
}

/* Highlight all "non-text" parts. */
.talent p * {
  color: var(--mango);
}
