.error-message {
  text-align: center;
  color: red;

  font-size: var(--fs-lg);
}

@media only screen and (max-width: 70em) {
  .error-message {
    font-size: var(--fs-md);
  }
  .return-home {
    font-size: var(--fs-md);
  }
}

@media only screen and (max-width: 47em) {
  .error-message {
    font-size: var(--fs-sm)
  }
  .return-home {
    font-size: var(--fs-sm);
  }
}
