
.card {
  text-align: center;

  border-radius: .25rem;
  padding: 1rem;
  margin: 2rem;

  background-repeat: no-repeat;
  background-size: cover;
}

.card * {
  margin: 10%;
}

@media only screen and (max-width: 70em) {
  :root {
    --article-margin: 5%;
  }
}
