@import "nav/styles.css";
@import "herobanner/styles.css";
@import "projects/styles.css";
@import "about-me/styles.css";
@import "skills/styles.css";
@import "contact-me/styles.css";


:root {
    --hover-color: #aaa;
    --section-color-1: hsl(0, 50%, 54%);
    --section-color-2: dodgerblue;
    --background-color: #FA4D56;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    font-family: "Roboto", sans-serif;

    background-color: var(--background-color);
    color: white;
}
